[submodule "plugins/env"]
	path = custom/plugins/env
	url = https://github.com/johnhamelink/env-zsh.git
[submodule "custom/themes/spaceship-prompt"]
	path = custom/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
