[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/es.next.syntax.vim"]
	path = .vim/bundle/es.next.syntax.vim
	url = https://github.com/othree/es.next.syntax.vim.git
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-hybrid"]
	path = .vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "themes/spaceship-zsh-theme"]
	path = themes/spaceship-zsh-theme
	url = https://github.com/denysdovhan/spaceship-zsh-theme.git
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".vim/bundle/groovy.vim"]
	path = .vim/bundle/groovy.vim
	url = https://github.com/modille/groovy.vim.git
[submodule "plugins/env"]
	path = plugins/env
	url = https://github.com/johnhamelink/env-zsh.git
[submodule "ctags-patterns-for-javascript"]
	path = ctags-patterns-for-javascript
	url = https://github.com/romainl/ctags-patterns-for-javascript.git
[submodule ".vim/bundle/vim-svelte-plugin"]
	path = .vim/bundle/vim-svelte-plugin
	url = https://github.com/leafOfTree/vim-svelte-plugin
