[user]
	name = filmaj
	email = maj.fil@gmail.com
[alias]
	lawg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
	ui = true
[push]
	default = simple
[core]
	editor = /usr/bin/vim
[diff]
	compactionHeuristic = true
