[user]
  name = filmaj
  email = maj.fil@gmail.com
  signingkey = 23734BF479545B17
[alias]
  lawg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  whatsnew = diff HEAD@{1} HEAD
[branch]
  sort = -committerdate
[color]
  ui = true
[core]
  editor = /usr/bin/vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = osxkeychain
[diff]
  compactionHeuristic = true
[help]
  autocorrect = 1
[pager]
  branch = false
[push]
  default = simple
[commit]
  gpgsign = true
