[user]
  name = filmaj
  email = maj.fil@gmail.com
  signingkey = 23734BF479545B17
[alias]
  lawg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  whatsnew = diff HEAD@{1} HEAD
[branch]
  sort = -committerdate
[color]
  ui = true
[core]
  editor = /usr/local/bin/nvim
  pager = delta
[credential]
  helper = osxkeychain
[delta]
  features = arctic-fox
  hyperlinks = true
  line-numbers = true
  line-numbers-left-format = "{nm:^4}┊"
	line-numbers-right-format = "│"
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
[diff]
  compactionHeuristic = true
[help]
  autocorrect = 1
[include]
  path = ~/src/dotfiles/delta-themes.gitconfig
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
[pager]
  branch = false
[push]
  default = simple
[commit]
  gpgsign = true
